.footer {
  color: #fff;
  padding-top: 48px;
  background-color: $primary;
  font-size: 16px;

  @include b768 {
    padding-top: 24px;
  }

  .nav {
    @include b768 {
      display: none;
    }

    .item {
      margin-right: 48px;
    }

    .item:last-child {
      margin-right: 0px;
    }
  }

  .socialList {
    @include b768 {
      position: absolute;
      top: 0;
      right: 14px;
    }

    .icon {
      width: 48px;
      margin-left: 32px;

      @include b992 {
        width: 24px;
        margin-left: 16px;
      }

      @include b576 {
        margin-left: 8px;
      }
    }

  }

  .contact {
    font-size: 36px;
    margin-top: 35.98px;

    @include b768 {
      font-size: 16px;
      margin-top: 0;
    }

    .icon {
      font-size: inherit;
      margin-right: 22px;

      @include b768 {
        font-size: 18px;
        margin-right: 11px;
      }
    }

    .email {
      margin-top: 8px;
    }
  }

  .copyright {
    margin-top: 32px;
    padding-top: 32px;
    padding-bottom: 40px;
    border-top: 1px solid #fff;

    @include b768 {
      display: block;
      margin-top: 24px;
      padding-top: 16px;
      padding-bottom: 24px;
    }
  }

  .privacy {
    @include b768 {
      display: block;
    }

    a {
      margin-left: 48px;
      display: block;
      @include b768{
        margin-top: 8px;
        margin-left: 0;
      }
    }
  }
}