.header{
  background-color: #AA0601;
  .logo{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true);
    width:80px;
    height:48.57px;
    background-size: contain;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;

  }

  .item{
    margin-left: 64px;
    text-align: center;
    a{
      padding: 25px 0;
    }
  }
 
}

@media(max-width:992px){
  .container{
    padding: 0 16px;
  }
  .header{
    padding-top: 16px;
  }
  .header .container{
    display: block;
    
    .nav{
      flex-wrap:wrap;
      margin-top: 15.43px;
      margin-left: -16px;
      margin-right: -16px;
    }
    .item{
      width:50%;
      margin-left: 0;
      border: 1px solid #ffffff;
      a{
        padding: 12px 0;
      }
    }
  }

}