.quesTitle{
    margin-top: 32px;
    @include b576{
        font-size: 24px;
        margin-top: 24px;
    }
}

.quesTitle,.ques{
    font-weight: bold;
}
.questionList{
    margin-top: 24px;
    margin-bottom: 80px;
    @include b576{
        margin-bottom: 64px;
    }
    .item:nth-child(1){
        margin-top: 0;
    }
    .item{
        margin-top: 32px;
        @include b576{
            margin-top: 24px;
        }
    }
    .ques{
        @include b576{
            font-size: 20px;
        }
    }
    .ans{
        margin-top: 8px;
        @include b576{
            font-size: 16px;
        }
    }
    
}
